
*~
/venv
/cmake-build-debug
/cmake-build-release
/cmake-build*
/geant4.egg-info
/gam_g4.egg-info
/build
/save
/save_sync
/save/pyPhysicsLists.save.cpp

/gam_g4/__pycache__
/gam_g4/geant4_data/
/gam_g4/*.so

/.idea
/.idea_save

.DS_Store

