
*~
/venv
/cmake-build-debug
/cmake-build-release
/cmake-build*
/geant4.egg-info
/gam_g4.egg-info
/build
/save
/save_sync
/save/pyPhysicsLists.save.cpp

/gam_g4/__pycache__
/gam_g4/gam_g4.cpython-37m-x86_64-linux-gnu.so
/gam_g4/geant4_data/

/.idea

.DS_Store

